#imglibrary:hover{
 box-shadow: 0px 0px 5px 5px black;
}
#loginsymble:hover{
    border: black 2px solid;
}
#followus:hover{
    color: red;
}
#img1:hover{
    border:black 8px solid;
    border-radius: 30px;
}
#imgcenter:hover{
    border: purple 8px solid;
    border-radius: 50px;
}
#sub:hover{
    background-color: red;
}
#icon:hover{
    color: red;
    text-shadow: 2px 2px 2px red;
}